<h1><center>Welcome!</center></h1>

<ul class="sidebar-nav">
  <nav class="navbar navbar-default">

    <%= form_tag("/static/search", method: "get") do %>
      <li>
        <a>Memory Size</a>
        <%= collection_check_boxes :filter, :mem, @memorys, :strip, :strip do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      </li>

      <li>
        <a>Graphic card brand</a>
        <%= collection_check_boxes :filter, :brand, @brands, :strip, :strip do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      </li>

      <li>
        <a>Graphic card processor brand</a>
        <%= collection_check_boxes :filter, :c_brand, @c_brands, :strip, :strip do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      </li>
      <center><%= submit_tag("Search") %></center>
    <% end %>

  </nav>
</ul>
