<p id="notice"><%= notice %></p>

<center>
	<h1><%= @product.title %></h1></br></br>
	<th><%= image_tag @product.image, size: "300x300" %></th>
</center></br></br>

<div class="container">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Amazon</th>
				<th>Bestbuy</th>
				<th>Newegg</th>
			</tr>
		</thead>

		<tbody>
			<th class="text-nowrap" scope="row">Price</th>
			<td><%= @product.price_amazon %></td>
			<td><%= @product.price_newegg %></td>
			<td><%= @product.price_bestbuy %></td>
		</tbody>
	</table>

	<div class="btn-group" role="group" aria-label="...">
		<%= link_to "Review", {controller: "products", action: "show", review: true}, class: "btn btn-default"%>
		<%= link_to "Detail", {controller: "products", action: "show"}, class: "btn btn-default"%>
	</div>
</div>

<% if params[:review] == nil %>
	<div class="container">
		<table class="table table-bordered table-striped">
			<tbody>
				<tr><th class="col-md-2" scope="row">Model Number</th>
					<td><%= @product.model %></td></tr>
				<tr><th class="col-md-2" scope="row">Brand</th>
					<td><%= @product.brand%></td></tr>
				<tr><th class="col-md-2" scope="row">Chip Brand</th>
					<td><%= @product.chip_brand%></td></tr>
				<tr><th class="col-md-2" scope="row">Memory Speed</th>
					<td><%= @product.m_speed%></td></tr>
				<tr><th class="col-md-2" scope="row">Memory Size</th>
					<td><%= @product.memory%></td></tr>
				<tr><th class="col-md-2" scope="row">Processor Speed</th>
					<td><%= @product.p_speed%></td></tr>
			</tbody>
		</table>
	</div>

<% else %>

	<div class="container">
		<table class="table table-bordered table-striped">
			<tbody>
				<tr><th class="col-md-2" scope="row">Model Number</th>
					<td><%= @product.model %></td></tr>
				<tr><th class="col-md-2" scope="row">Brand</th>
					<td><%= @product.brand%></td></tr>
				<tr><th class="col-md-2" scope="row">Chip Brand</th>
					<td><%= @product.chip_brand%></td></tr>
				<tr><th class="col-md-2" scope="row">Memory Speed</th>
					<td><%= @product.m_speed%></td></tr>
				<tr><th class="col-md-2" scope="row">Memory Size</th>
					<td><%= @product.memory%></td></tr>
				<tr><th class="col-md-2" scope="row">Processor Speed</th>
					<td><%= @product.p_speed%></td></tr>
			</tbody>
		</table>
	</div>

<% end %>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
